@model Ecom_Store.SecondaryModels.Cinmea_ImgModel

@{
    ViewData["Title"] = "EditCinema";
    Layout = "~/Views/Shared/Admin_Header_Footer.cshtml";
}

<h1>EditCinema</h1>

<h4>CinemaModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditCinema" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="id" />
            <div class="form-group">
                <label asp-for="CinemaName" class="control-label"></label>
                <input asp-for="CinemaName" class="form-control" />
                <span asp-validation-for="CinemaName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CinemaDesc" class="control-label"></label>
                <input asp-for="CinemaDesc" class="form-control" />
                <span asp-validation-for="CinemaDesc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CinemaLogo" class="control-label"></label>
                <input asp-for="CinemaLogo" type="file" class="form-control" />
                <span asp-validation-for="CinemaLogo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CinemaSeats" class="control-label"></label>
                <input asp-for="CinemaSeats" class="form-control" />
                <span asp-validation-for="CinemaSeats" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

