
@{
    ViewData["Title"] = "AboutUS";
    Layout = "~/Views/Shared/Header_footer_layout.cshtml";
}

<!-- _________________________ Start Middle _________________________ -->
<div id="middle">
    <style type="text/css">
        .headline_color {
            background-color:;
        }

        .headline_aligner,
        .cmsmasters_breadcrumbs_aligner {
            min-height: 350px;
        }
    </style>
    <div class="headline cmsmasters_color_scheme_default">
        <div class="headline_outer cmsmasters_headline_disabled">
            <div class="headline_color"></div>
        </div>
    </div>
    <div class="middle_inner">
        <div class="content_wrap fullwidth">

            <!--_________________________ Start Content _________________________ -->
            <div class="middle_content entry"></div>
        </div>
        <style type="text/css">
            #cmsmasters_row_65fd65df5307e8_76834297 {
                background-image: url(https://mall.cmsmasters.net/wp-content/uploads/2015/06/hong-kong-china-city-skyline-34911.jpg);
                background-position: center center;
                background-repeat: no-repeat;
                background-attachment: scroll;
                background-size: cover;
            }

                #cmsmasters_row_65fd65df5307e8_76834297 .cmsmasters_row_outer_parent {
                    padding-top: 190px;
                }

                #cmsmasters_row_65fd65df5307e8_76834297 .cmsmasters_row_outer_parent {
                    padding-bottom: 190px;
                }

                #cmsmasters_row_65fd65df5307e8_76834297 .cmsmasters_row_overlay {
                    background-color: rgba(0, 0, 0, 0.2);
                }

            #cmsmasters_heading_65fd65df535171_83167286 {
                text-align: center;
                margin-top: 0px;
                margin-bottom: 0px;
            }

                #cmsmasters_heading_65fd65df535171_83167286 .cmsmasters_heading {
                    text-align: center;
                }

                    #cmsmasters_heading_65fd65df535171_83167286 .cmsmasters_heading,
                    #cmsmasters_heading_65fd65df535171_83167286 .cmsmasters_heading a {
                        font-size: 72px;
                        line-height: 76px;
                        font-weight: bold;
                        font-style: normal;
                        color: #ffffff;
                    }

                #cmsmasters_heading_65fd65df535171_83167286 .cmsmasters_heading_divider {
                }

            #cmsmasters_row_65fd65df535562_14521196 {
                background-color: #ffffff;
            }

                #cmsmasters_row_65fd65df535562_14521196 .cmsmasters_row_outer_parent {
                    padding-top: 70px;
                }

                #cmsmasters_row_65fd65df535562_14521196 .cmsmasters_row_outer_parent {
                    padding-bottom: 0px;
                }

            #cmsmasters_row_65fd65df535f39_76239778 {
                background-color: #ffffff;
            }

                #cmsmasters_row_65fd65df535f39_76239778 .cmsmasters_row_outer_parent {
                    padding-top: 30px;
                }

                #cmsmasters_row_65fd65df535f39_76239778 .cmsmasters_row_outer_parent {
                    padding-bottom: 70px;
                }

            #cmsmasters_heading_65fd65df539149_30507682 {
                text-align: left;
                margin-top: 40px;
                margin-bottom: 10px;
            }

                #cmsmasters_heading_65fd65df539149_30507682 .cmsmasters_heading {
                    text-align: left;
                }

                    #cmsmasters_heading_65fd65df539149_30507682 .cmsmasters_heading,
                    #cmsmasters_heading_65fd65df539149_30507682 .cmsmasters_heading a {
                        font-weight: 700;
                        font-style: normal;
                    }

                #cmsmasters_heading_65fd65df539149_30507682 .cmsmasters_heading_divider {
                }

            #cmsmasters_heading_65fd65df5393a9_34110550 {
                text-align: left;
                margin-top: 0px;
                margin-bottom: 30px;
            }

                #cmsmasters_heading_65fd65df5393a9_34110550 .cmsmasters_heading {
                    text-align: left;
                }

                    #cmsmasters_heading_65fd65df5393a9_34110550 .cmsmasters_heading,
                    #cmsmasters_heading_65fd65df5393a9_34110550 .cmsmasters_heading a {
                        font-weight: 700;
                        font-style: normal;
                    }

                #cmsmasters_heading_65fd65df5393a9_34110550 .cmsmasters_heading_divider {
                }

            #cmsmasters_heading_65fd65df5395a7_58484174 {
                text-align: left;
                margin-top: 0px;
                margin-bottom: 10px;
            }

                #cmsmasters_heading_65fd65df5395a7_58484174 .cmsmasters_heading {
                    text-align: left;
                }

                    #cmsmasters_heading_65fd65df5395a7_58484174 .cmsmasters_heading,
                    #cmsmasters_heading_65fd65df5395a7_58484174 .cmsmasters_heading a {
                        font-weight: 700;
                        font-style: normal;
                    }

                #cmsmasters_heading_65fd65df5395a7_58484174 .cmsmasters_heading_divider {
                }

            #cmsmasters_heading_65fd65df539776_91377097 {
                text-align: left;
                margin-top: 0px;
                margin-bottom: 30px;
            }

                #cmsmasters_heading_65fd65df539776_91377097 .cmsmasters_heading {
                    text-align: left;
                }

                    #cmsmasters_heading_65fd65df539776_91377097 .cmsmasters_heading,
                    #cmsmasters_heading_65fd65df539776_91377097 .cmsmasters_heading a {
                        font-weight: 700;
                        font-style: normal;
                    }

                #cmsmasters_heading_65fd65df539776_91377097 .cmsmasters_heading_divider {
                }

            #cmsmasters_heading_65fd65df539937_88580949 {
                text-align: left;
                margin-top: 0px;
                margin-bottom: 10px;
            }

                #cmsmasters_heading_65fd65df539937_88580949 .cmsmasters_heading {
                    text-align: left;
                }

                    #cmsmasters_heading_65fd65df539937_88580949 .cmsmasters_heading,
                    #cmsmasters_heading_65fd65df539937_88580949 .cmsmasters_heading a {
                        font-weight: 700;
                        font-style: normal;
                    }

                #cmsmasters_heading_65fd65df539937_88580949 .cmsmasters_heading_divider {
                }

            #cmsmasters_heading_65fd65df539ad4_72462394 {
                text-align: left;
                margin-top: 0px;
                margin-bottom: 30px;
            }

                #cmsmasters_heading_65fd65df539ad4_72462394 .cmsmasters_heading {
                    text-align: left;
                }

                    #cmsmasters_heading_65fd65df539ad4_72462394 .cmsmasters_heading,
                    #cmsmasters_heading_65fd65df539ad4_72462394 .cmsmasters_heading a {
                        font-weight: 700;
                        font-style: normal;
                    }

                #cmsmasters_heading_65fd65df539ad4_72462394 .cmsmasters_heading_divider {
                }

            #cmsmasters_row_65fd65df53a6e7_62892030 .cmsmasters_row_outer_parent {
                padding-top: 0px;
            }

            #cmsmasters_row_65fd65df53a6e7_62892030 .cmsmasters_row_outer_parent {
                padding-bottom: 0px;
            }

            #cmsmasters_row_65fd65df53a6e7_62892030 .cmsmasters_row_inner.cmsmasters_row_fullwidth {
                padding-left: 0%;
            }

            #cmsmasters_row_65fd65df53a6e7_62892030 .cmsmasters_row_inner.cmsmasters_row_fullwidth {
                padding-right: 0%;
            }

            #cmsmasters_divider_65fd65df53ad46_13663098 {
                border-bottom-width: 1px;
                border-bottom-style: solid;
                padding-top: 0px;
                margin-bottom: 0px;
            }

            #cmsmasters_row_65fd65df53afb7_76735902 .cmsmasters_row_outer_parent {
                padding-top: 70px;
            }

            #cmsmasters_row_65fd65df53afb7_76735902 .cmsmasters_row_outer_parent {
                padding-bottom: 70px;
            }

            #cmsmasters_divider_65fd65df53b9c6_64031957 {
                border-bottom-width: 0px;
                border-bottom-style: solid;
                padding-top: 50px;
                margin-bottom: 0px;
            }

            #cmsmasters_row_65fd65df5477a2_25569944 {
                background-image: url(https://mall.cmsmasters.net/wp-content/uploads/2015/11/Depositphotos_55887459_origihnal.jpg);
                background-position: center center;
                background-repeat: no-repeat;
                background-attachment: scroll;
                background-size: cover;
            }

                #cmsmasters_row_65fd65df5477a2_25569944 .cmsmasters_row_outer_parent {
                    padding-top: 80px;
                }

                #cmsmasters_row_65fd65df5477a2_25569944 .cmsmasters_row_outer_parent {
                    padding-bottom: 80px;
                }

            #cmsmasters_divider_65fd65df54a1a7_94484595 {
                border-bottom-width: 0px;
                border-bottom-style: solid;
                padding-top: 50px;
                margin-bottom: 0px;
            }

            .cmsmasters_stats.shortcode_animated #cmsmasters_stat_65fd65df54b4f.cmsmasters_stat {
                height: 80%;
            }

            #cmsmasters_stat_65fd65df54b4f .cmsmasters_stat_inner {
                background-color: #fa6426;
            }

                #cmsmasters_stat_65fd65df54b4f .cmsmasters_stat_inner:before {
                }

            .cmsmasters_stats.shortcode_animated #cmsmasters_stat_65fd65df54bd6.cmsmasters_stat {
                height: 98%;
            }

            #cmsmasters_stat_65fd65df54bd6 .cmsmasters_stat_inner {
                background-color: #0ecab6;
            }

                #cmsmasters_stat_65fd65df54bd6 .cmsmasters_stat_inner:before {
                }

            .cmsmasters_stats.shortcode_animated #cmsmasters_stat_65fd65df54c51.cmsmasters_stat {
                height: 80%;
            }

            #cmsmasters_stat_65fd65df54c51 .cmsmasters_stat_inner {
                background-color: #fa26a3;
            }

                #cmsmasters_stat_65fd65df54c51 .cmsmasters_stat_inner:before {
                }

            .cmsmasters_stats.shortcode_animated #cmsmasters_stat_65fd65df54cf3.cmsmasters_stat {
                height: 100%;
            }

            #cmsmasters_stat_65fd65df54cf3 .cmsmasters_stat_inner {
                background-color: #92278f;
            }

                #cmsmasters_stat_65fd65df54cf3 .cmsmasters_stat_inner:before {
                }

            .cmsmasters_stats.shortcode_animated #cmsmasters_stat_65fd65df54d69.cmsmasters_stat {
                height: 84%;
            }

            #cmsmasters_stat_65fd65df54d69 .cmsmasters_stat_inner {
                background-color: #ede11c;
            }

                #cmsmasters_stat_65fd65df54d69 .cmsmasters_stat_inner:before {
                }
        </style>
        <div id="cmsmasters_row_65fd65df5307e8_76834297" class="cmsmasters_row cmsmasters_color_scheme_default cmsmasters_row_top_default cmsmasters_row_bot_default cmsmasters_row_boxed" data-stellar-background-ratio="0.1">
            <div class="cmsmasters_row_outer_parent">
                <div class="cmsmasters_row_overlay"></div>
                <div class="cmsmasters_row_outer">
                    <div class="cmsmasters_row_inner">
                        <div class="cmsmasters_row_margin">
                            <div class="cmsmasters_column one_first">

                                <div id="cmsmasters_heading_65fd65df535171_83167286" class="cmsmasters_heading_wrap cmsmasters_heading_align_center">
                                    <h1 class="cmsmasters_heading">About Us</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="cmsmasters_row_65fd65df535562_14521196" class="cmsmasters_row cmsmasters_color_scheme_default cmsmasters_row_top_default cmsmasters_row_bot_default cmsmasters_row_boxed">
            <div class="cmsmasters_row_outer_parent">
                <div class="cmsmasters_row_outer">
                    <div class="cmsmasters_row_inner">
                        <div class="cmsmasters_row_margin">
                            <div class="cmsmasters_column one_first">
                                <div class="cmsmasters_text">
                                    <h3 style="text-align: center;">
                                        <span style="font-size: 24pt; line-height: 32pt; font-weight: bold;">SHOPPING MALL <span style="font-weight: 100;">OUR STORY OF SUCCESS</span></span>
                                    </h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="cmsmasters_row_65fd65df535f39_76239778" class="cmsmasters_row cmsmasters_color_scheme_default cmsmasters_row_top_default cmsmasters_row_bot_default cmsmasters_row_boxed">
            <div class="cmsmasters_row_outer_parent">
                <div class="cmsmasters_row_outer">
                    <div class="cmsmasters_row_inner">
                        <div class="cmsmasters_row_margin">
                            <div class="cmsmasters_column one_fourth">
                                <div class="cmsmasters_img  cmsmasters_image_n">
                                    <img decoding="async" src="https://mall.cmsmasters.net/wp-content/uploads/2015/11/logo3.png" />
                                </div>

                                <div id="cmsmasters_heading_65fd65df539149_30507682" class="cmsmasters_heading_wrap cmsmasters_heading_align_left">
                                    <h3 class="cmsmasters_heading">Address:</h3>
                                </div>
                                <div id="cmsmasters_heading_65fd65df5393a9_34110550" class="cmsmasters_heading_wrap cmsmasters_heading_align_left">
                                    <h5 class="cmsmasters_heading">195-199 5th Ave New York, NY 10010, USA</h5>
                                </div>
                                <div id="cmsmasters_heading_65fd65df5395a7_58484174" class="cmsmasters_heading_wrap cmsmasters_heading_align_left">
                                    <h3 class="cmsmasters_heading">Open Hours:</h3>
                                </div>
                                <div id="cmsmasters_heading_65fd65df539776_91377097" class="cmsmasters_heading_wrap cmsmasters_heading_align_left">
                                    <h5 class="cmsmasters_heading">Daily, from 8:00 AM till 11:00 PM</h5>
                                </div>
                                <div id="cmsmasters_heading_65fd65df539937_88580949" class="cmsmasters_heading_wrap cmsmasters_heading_align_left">
                                    <h3 class="cmsmasters_heading">Contacts:</h3>
                                </div>
                                <div id="cmsmasters_heading_65fd65df539ad4_72462394" class="cmsmasters_heading_wrap cmsmasters_heading_align_left">
                                    <h5 class="cmsmasters_heading">+ 1 (000) 111 2233; + 1 (222) 333 4567</h5>
                                </div>
                            </div>
                            <div class="cmsmasters_column three_fourth">
                                <div class="cmsmasters_text">
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam erat volutpat. Curabitur venenatis massa sed lacus tristique, non auctor nisl sodales. Sed ultricies lacus ut libero faucibus fringilla. Ut
                                        nisi tellus, posuere vel mattis nec, convallis a metus. Pellentesque fermentum massa vel enim feugiat gravida. Phasellus velit risus, euismod a lacus et, mattis condimentum augue. Vivamus fermentum ex
                                        quis imperdiet sodales. Sed aliquam nibh tellus, a rutrum turpis pellentesque ac. Nulla nibh libero, tincidunt cursus gravida ut, sodales ut magna. Sed sodales libero sapien, et rutrum mi placerat eget.
                                        Nulla vestibulum lacus vel eros eleifend molestie. Vivamus quam augue, maximus in consequat imperdiet, iaculis non nibh. Aliquam erat volutpat. Curabitur venenatis massa sed lacus tristique, non auctor
                                        nisl sodales. Sed ultricies lacus ut libero faucibus fringilla. Ut nisi tellus, posuere vel mattis nec, convallis a metus. Nullam elementum molestie felis nec lobortis. Cras at justo eu elit semper sed
                                        quis orci. In risus magna, malesuada vel elementum ut, finibus et nunc.
                                    </p>
                                    <p>
                                        Sed rutrum, libero non pretium tristique, arcu mi sollicitudin ex, quis venenatis orci tellus vel dolor. Donec gravida, dolor ut auctor facilisis, enim dolor pellentesque lectus, nec vehicula nibh risus
                                        ac leo. Mauris volutpat aliquam tellus nec rhoncus. Aliquam et nibh pulvinar, sodales nibh et, pretium urna. Vivamus quam augue, maximus in consequat imperdiet, iaculis non nibh. Aliquam erat volutpat.
                                        Curabitur venenatis massa sed lacus tristique, non auctor nisl sodales. Sed ultricies lacus ut libero faucibus fringilla. Ut nisi tellus, posuere vel mattis nec, convallis a metus. Nullam elementum molestie
                                        felis nec lobortis. Cras at justo eu elit semper tempor sed quis orci. In risus magna, malesuada vel elementum ut, finibus et nunc.
                                    </p>
                                    <p>
                                        Cras dapibus ullamcorper dictum. Vivamus nec erat placerat felis scelerisque porttitor in ac turpis. In nec imperdiet turpis. Suspendisse quis orci ut orci pulvinar eleifend. Nulla eu mattis ipsum. Integer
                                        eget sagittis nulla. Praesent consectetur lacus et maximus eleifend. Integer non lacus dui. Mauris tortor diam, laoreet quis commodo vitae, sodales vel augue.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="cmsmasters_row_65fd65df53a6e7_62892030" class="cmsmasters_row cmsmasters_color_scheme_default cmsmasters_row_top_default cmsmasters_row_bot_default cmsmasters_row_fullwidth">
            <div class="cmsmasters_row_outer_parent">
                <div class="cmsmasters_row_outer">
                    <div class="cmsmasters_row_inner cmsmasters_row_fullwidth">
                        <div class="cmsmasters_row_margin">
                            <div class="cmsmasters_column one_first">

                                <div id="cmsmasters_divider_65fd65df53ad46_13663098" class="cmsmasters_divider cmsmasters_divider_width_long cmsmasters_divider_pos_center"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="cmsmasters_row_65fd65df53afb7_76735902" class="cmsmasters_row cmsmasters_color_scheme_default cmsmasters_row_top_default cmsmasters_row_bot_default cmsmasters_row_boxed">
            <div class="cmsmasters_row_outer_parent">
                <div class="cmsmasters_row_outer">
                    <div class="cmsmasters_row_inner">
                        <div class="cmsmasters_row_margin">
                            <div class="cmsmasters_column one_first">
                                <div class="cmsmasters_text">
                                    <h3 style="text-align: center;">
                                        <span style="font-size: 24pt; line-height: 32pt; font-weight: bold;">TESTIMONIALS <span style="font-weight: 100;">WE MAKE OUR VISITORS HAPPY</span></span>
                                    </h3>
                                </div>

                                <div id="cmsmasters_divider_65fd65df53b9c6_64031957" class="cl"></div>
                                <div class="cmsmasters_quotes cmsmasters_quotes_grid quote_two">
                                    <span class="cmsmasters_quotes_vert"><span></span></span>
                                    <div class="cmsmasters_quotes_list">
                                        <div class="cmsmasters_quote">

                                            <!--_________________________ Start Grid Article _________________________ -->

                                            <article class="cmsmasters_quote_inner">
                                                <div class="cmsmasters_quote_img_info_wrap">
                                                    <figure class="cmsmasters_quote_image">
                                                        <img decoding="async" width="70" height="70" src="https://mall.cmsmasters.net/wp-content/uploads/2015/04/Unftitled-1.jpg" class="attachment-square-thumb size-square-thumb" alt="" srcset="https://mall.cmsmasters.net/wp-content/uploads/2015/04/Unftitled-1.jpg 70w, https://mall.cmsmasters.net/wp-content/uploads/2015/04/Unftitled-1-60x60.jpg 60w"
                                                             sizes="(max-width: 70px) 100vw, 70px" />
                                                    </figure>
                                                    <div class="cmsmasters_quote_info_wrap">
                                                        <header class="cmsmasters_quote_header">
                                                            <h3 class="cmsmasters_quote_title">Mia Walker </h3>
                                                        </header>
                                                        <div class="cmsmasters_quote_subtitle_wrap">
                                                            <h5 class="cmsmasters_quote_subtitle">Student</h5>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="cmsmasters_quote_content">
                                                    <p>
                                                        Sed nec blandit nibh. Pellentesque commodo suscipit gravida. Sed sit amet ex sed mi dignissim elementum in ut quam. Vivamus laoreet non mauris eget mattis mauris eget mattis. Sed sit amet
                                                        ex sed mi dignissim elementum in ut quam. Vivamus laoreet non mauris eget mattis mauris eget mattis.
                                                    </p>
                                                </div>
                                            </article>
                                            <!--_________________________ Finish Grid Article _________________________ -->

                                        </div>
                                        <div class="cmsmasters_quote">

                                            <!--_________________________ Start Grid Article _________________________ -->

                                            <article class="cmsmasters_quote_inner">
                                                <div class="cmsmasters_quote_img_info_wrap">
                                                    <figure class="cmsmasters_quote_image">
                                                        <img decoding="async" width="70" height="70" src="https://mall.cmsmasters.net/wp-content/uploads/2015/04/Untitled-h1.jpg" class="attachment-square-thumb size-square-thumb" alt="" srcset="https://mall.cmsmasters.net/wp-content/uploads/2015/04/Untitled-h1.jpg 70w, https://mall.cmsmasters.net/wp-content/uploads/2015/04/Untitled-h1-60x60.jpg 60w"
                                                             sizes="(max-width: 70px) 100vw, 70px" />
                                                    </figure>
                                                    <div class="cmsmasters_quote_info_wrap">
                                                        <header class="cmsmasters_quote_header">
                                                            <h3 class="cmsmasters_quote_title">Grace Hall</h3>
                                                        </header>
                                                        <div class="cmsmasters_quote_subtitle_wrap">
                                                            <h5 class="cmsmasters_quote_subtitle">Designer</h5>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="cmsmasters_quote_content">
                                                    <p>
                                                        Sed nec blandit nibh. Pellentesque commodo suscipit gravida. Sed sit amet ex sed mi dignissim elementum in ut quam. Vivamus laoreet non mauris eget mattis mauris eget mattis. Sed sit amet
                                                        ex sed mi dignissim elementum in ut quam. Vivamus laoreet non mauris eget mattis mauris eget mattis.
                                                    </p>
                                                </div>
                                            </article>
                                            <!--_________________________ Finish Grid Article _________________________ -->

                                        </div>
                                        <span class="cl"></span>
                                    </div>
                                    <div class="cmsmasters_quotes_list">
                                        <div class="cmsmasters_quote">

                                            <!--_________________________ Start Grid Article _________________________ -->

                                            <article class="cmsmasters_quote_inner">
                                                <div class="cmsmasters_quote_img_info_wrap">
                                                    <figure class="cmsmasters_quote_image">
                                                        <img decoding="async" width="70" height="70" src="https://mall.cmsmasters.net/wp-content/uploads/2015/04/Untitled-1.jpg" class="attachment-square-thumb size-square-thumb" alt="" srcset="https://mall.cmsmasters.net/wp-content/uploads/2015/04/Untitled-1.jpg 70w, https://mall.cmsmasters.net/wp-content/uploads/2015/04/Untitled-1-60x60.jpg 60w"
                                                             sizes="(max-width: 70px) 100vw, 70px" />
                                                    </figure>
                                                    <div class="cmsmasters_quote_info_wrap">
                                                        <header class="cmsmasters_quote_header">
                                                            <h3 class="cmsmasters_quote_title">Hannah Jones</h3>
                                                        </header>
                                                        <div class="cmsmasters_quote_subtitle_wrap">
                                                            <h5 class="cmsmasters_quote_subtitle">Manager</h5>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="cmsmasters_quote_content">
                                                    <p>
                                                        Sed nec blandit nibh. Pellentesque commodo suscipit gravida. Sed sit amet ex sed mi dignissim elementum in ut quam. Vivamus laoreet non mauris eget mattis mauris eget mattis. Sed sit amet
                                                        ex sed mi dignissim elementum in ut quam. Vivamus laoreet non mauris eget mattis mauris eget mattis.
                                                    </p>
                                                </div>
                                            </article>
                                            <!--_________________________ Finish Grid Article _________________________ -->

                                        </div>
                                        <div class="cmsmasters_quote">

                                            <!--_________________________ Start Grid Article _________________________ -->

                                            <article class="cmsmasters_quote_inner">
                                                <div class="cmsmasters_quote_img_info_wrap">
                                                    <figure class="cmsmasters_quote_image">
                                                        <img loading="lazy" decoding="async" width="70" height="70" src="https://mall.cmsmasters.net/wp-content/uploads/2015/04/Untitled-1h.jpg" class="attachment-square-thumb size-square-thumb"
                                                             alt="" srcset="https://mall.cmsmasters.net/wp-content/uploads/2015/04/Untitled-1h.jpg 70w, https://mall.cmsmasters.net/wp-content/uploads/2015/04/Untitled-1h-60x60.jpg 60w" sizes="(max-width: 70px) 100vw, 70px" />
                                                    </figure>
                                                    <div class="cmsmasters_quote_info_wrap">
                                                        <header class="cmsmasters_quote_header">
                                                            <h3 class="cmsmasters_quote_title">Katie Davis</h3>
                                                        </header>
                                                        <div class="cmsmasters_quote_subtitle_wrap">
                                                            <h5 class="cmsmasters_quote_subtitle">Creative Director</h5>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="cmsmasters_quote_content">
                                                    <p>
                                                        Sed nec blandit nibh. Pellentesque commodo suscipit gravida. Sed sit amet ex sed mi dignissim elementum in ut quam. Vivamus laoreet non mauris eget mattis mauris eget mattis. Sed sit amet
                                                        ex sed mi dignissim elementum in ut quam. Vivamus laoreet non mauris eget mattis mauris eget mattis.
                                                    </p>
                                                </div>
                                            </article>
                                            <!--_________________________ Finish Grid Article _________________________ -->

                                        </div>
                                        <span class="cl"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="cmsmasters_row_65fd65df5477a2_25569944" class="cmsmasters_row cmsmasters_color_scheme_default cmsmasters_row_top_default cmsmasters_row_bot_default cmsmasters_row_boxed">
            <div class="cmsmasters_row_outer_parent">
                <div class="cmsmasters_row_outer">
                    <div class="cmsmasters_row_inner">
                        <div class="cmsmasters_row_margin">
                            <div class="cmsmasters_column one_first">
                                <div class="cmsmasters_text">
                                    <h3 style="text-align: center;">
                                        <span style="font-size: 24pt; line-height: 32pt; font-weight: bold;">FUN STATS <span style="font-weight: 100;">WHY PEOPLE CHOOSE OUR MALL</span></span>
                                    </h3>
                                </div>

                                <div id="cmsmasters_divider_65fd65df54a1a7_94484595" class="cl"></div>

                                <div class="cmsmasters_stats stats_mode_bars stats_type_vertical">
                                    <div class="cmsmasters_stat_wrap one_fifth">
                                        <div class="cmsmasters_stat_container">
                                            <div id="cmsmasters_stat_65fd65df54b4f" class="cmsmasters_stat stat_has_titleicon" data-percent="80">
                                                <div class="cmsmasters_stat_inner cmsmasters-icon-game">
                                                    <div class="cmsmasters_stat_title_counter_wrap"><span class="cmsmasters_stat_counter_wrap"><span class="cmsmasters_stat_counter">80</span><span class="cmsmasters_stat_units">%</span></span><span class="cmsmasters_stat_title">Fun, Happiness, Emotions</span></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="cmsmasters_stat_wrap one_fifth">
                                        <div class="cmsmasters_stat_container">
                                            <div id="cmsmasters_stat_65fd65df54bd6" class="cmsmasters_stat stat_has_titleicon" data-percent="98">
                                                <div class="cmsmasters_stat_inner cmsmasters-icon-angellist">
                                                    <div class="cmsmasters_stat_title_counter_wrap"><span class="cmsmasters_stat_counter_wrap"><span class="cmsmasters_stat_counter">98</span><span class="cmsmasters_stat_units">%</span></span><span class="cmsmasters_stat_title">Food &amp; Drinks for everyone</span></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="cmsmasters_stat_wrap one_fifth">
                                        <div class="cmsmasters_stat_container">
                                            <div id="cmsmasters_stat_65fd65df54c51" class="cmsmasters_stat stat_has_titleicon" data-percent="80">
                                                <div class="cmsmasters_stat_inner cmsmasters-icon-bag-1">
                                                    <div class="cmsmasters_stat_title_counter_wrap"><span class="cmsmasters_stat_counter_wrap"><span class="cmsmasters_stat_counter">80</span><span class="cmsmasters_stat_units">%</span></span><span class="cmsmasters_stat_title">Shopping &amp; Discounts</span></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="cmsmasters_stat_wrap one_fifth">
                                        <div class="cmsmasters_stat_container">
                                            <div id="cmsmasters_stat_65fd65df54cf3" class="cmsmasters_stat stat_has_titleicon" data-percent="100">
                                                <div class="cmsmasters_stat_inner cmsmasters-icon-smile-1">
                                                    <div class="cmsmasters_stat_title_counter_wrap"><span class="cmsmasters_stat_counter_wrap"><span class="cmsmasters_stat_counter">100</span><span class="cmsmasters_stat_units">%</span></span><span class="cmsmasters_stat_title">Entertainment facilities</span></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="cmsmasters_stat_wrap one_fifth">
                                        <div class="cmsmasters_stat_container">
                                            <div id="cmsmasters_stat_65fd65df54d69" class="cmsmasters_stat stat_has_titleicon" data-percent="84">
                                                <div class="cmsmasters_stat_inner cmsmasters-icon-mustache">
                                                    <div class="cmsmasters_stat_title_counter_wrap"><span class="cmsmasters_stat_counter_wrap"><span class="cmsmasters_stat_counter">84</span><span class="cmsmasters_stat_units">%</span></span><span class="cmsmasters_stat_title">Family weekend</span></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="cl"></div>
        <div class="content_wrap fullwidth">

            <div class="middle_content entry"></div>
            <!-- _________________________ Finish Content _________________________ -->

        </div>
    </div>
</div>
<!-- _________________________ Finish Middle _________________________ -->
