@model IEnumerable<Ecom_Store.Models.FoodCourtModel>

@{
    ViewData["Title"] = "Dinning";
    Layout = "~/Views/Shared/Header_footer_layout.cshtml";
}



<!-- _________________________ Start Middle _________________________ -->
<div id="middle">

    <div class="headline cmsmasters_color_scheme_default">
        <div class="headline_outer cmsmasters_headline_disabled">
            <div class="headline_color"></div>
        </div>
    </div>
    <div class="middle_inner">
        <div class="content_wrap fullwidth">

            <!--_________________________ Start Content _________________________ -->
            <div class="middle_content entry"></div>
        </div>


        <div id="cmsmasters_row_65fd692be3e363_18447003" class="cmsmasters_row cmsmasters_color_scheme_default cmsmasters_row_top_default cmsmasters_row_bot_default cmsmasters_row_boxed">
            <div class="cmsmasters_row_outer_parent">
                <div class="cmsmasters_row_outer">
                    <div class="cmsmasters_row_inner">
                        <div class="cmsmasters_row_margin">
                            <div class="cmsmasters_column one_first">
                                <div class="cmsmasters_slider">
                                   
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="cmsmasters_row_65fd692be7a763_98884420" class="cmsmasters_row cmsmasters_color_scheme_default cmsmasters_row_top_default cmsmasters_row_bot_default cmsmasters_row_boxed">
            <div class="cmsmasters_row_outer_parent">
                <div class="cmsmasters_row_outer">
                    <div class="cmsmasters_row_inner">
                        <div class="cmsmasters_row_margin">
                            <div class="cmsmasters_column one_first">
                                <div class="cmsmasters_text">
                                    <h3 style="text-align: center;">
                                        <span style="font-size: 24pt; line-height: 32pt; font-weight: bold;">OUR SERVICES <span style="font-weight: 100;">SOME AWESOME THINGS WE DO</span></span>
                                    </h3>
                                </div>

                                <div id="cmsmasters_divider_65fd692be7beb5_57827127" class="cl"></div>
                                <div class="cmsmasters_clients_grid_wrap">
                                    <div id="cmsmasters_clients_65fd692be7c100_74555786" class="cmsmasters_clients_grid clients_four">
                                        <div class="cmsmasters_clients_items slides">
                                            @foreach (var item in Model) {
                                            <div class="cmsmasters_clients_item item">

                                                    <a href="https://mall.cmsmasters.net/restaurant/" target="_blank"><img decoding="async" src="~/FoodCourtsLogo/@Html.DisplayFor(modelItem => item.FoodCourtLogo)" alt="Bakery" /><span>@Html.DisplayFor(modelItem => item.FoodCourtName)</span></a>
                                            </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="cl"></div>
        <div class="content_wrap fullwidth">

            <div class="middle_content entry"></div>
            <!-- _________________________ Finish Content _________________________ -->

        </div>
    </div>
</div>
<!-- _________________________ Finish Middle _________________________ -->






