
@{
    ViewData["Title"] = "PhotoGallery";
    Layout = "~/Views/Shared/Header_footer_layout.cshtml";
}

<!-- _________________________ Start Middle _________________________ -->
<div id="middle">

    <div class="headline cmsmasters_color_scheme_default">
        <div class="headline_outer cmsmasters_headline_disabled">
            <div class="headline_color"></div>
        </div>
    </div>
    <div class="middle_inner">
        <div class="content_wrap fullwidth">

            <!--_________________________ Start Content _________________________ -->
            <div class="middle_content entry"></div>
        </div>
        <style type="text/css">

        </style>
        <div id="cmsmasters_row_65fd65353ee878_54832950" class="cmsmasters_row cmsmasters_color_scheme_default cmsmasters_row_top_default cmsmasters_row_bot_default cmsmasters_row_boxed">
            <div class="cmsmasters_row_outer_parent">
                <div class="cmsmasters_row_outer">
                    <div class="cmsmasters_row_inner">
                        <div class="cmsmasters_row_margin">
                            <div class="cmsmasters_column one_first">
                                <div class="cmsmasters_wrap_portfolio entry-summary" id="portfolio_65fd65353efe90_12108991">
                                    <script type="text/javascript">
                                        jQuery(document).ready(function () {
                                            (function ($) {
                                                if ($('#portfolio_65fd65353efe90_12108991').find('article').length == '0') {
                                                    return false;
                                                }


                                                startPortfolio(
                                                    '65fd65353efe90_12108991',
                                                    'puzzle',
                                                    'perfect',
                                                    'https://mall.cmsmasters.net/wp-content/plugins/cmsmasters-content-composer/',
                                                    'date',
                                                    'DESC',
                                                    '8',
                                                    'masonry-puzzle',
                                                    'title,comments,likes'
                                                );
                                            })(jQuery);
                                        });
                                    </script>
                                    <div class="portfolio puzzle large_gap perfect">
                                        <!--_________________________ Start Gallery Project _________________________ -->

                                        <article id="post-1596" class="cmsmasters_project_puzzle two_x_two post-1596 project type-project status-publish format-gallery has-post-thumbnail hentry post_format-post-format-gallery pj-categs-masonry-puzzle" data-category="masonry-puzzle">
                                            <div class="project_outer">
                                                <figure class="cmsmasters_img_rollover_wrap preloader">
                                                    <img fetchpriority="high" decoding="async" width="580" height="580" src="https://mall.cmsmasters.net/wp-content/uploads/2015/05/Untitled-1-580x580.jpg" class="full-width wp-post-image" alt="-20% SALE collection f/w2015-16"
                                                         title="-20% SALE collection f/w2015-16" srcset="https://mall.cmsmasters.net/wp-content/uploads/2015/05/Untitled-1.jpg 580w, https://mall.cmsmasters.net/wp-content/uploads/2015/05/Untitled-1-150x150.jpg 150w, https://mall.cmsmasters.net/wp-content/uploads/2015/05/Untitled-1-300x300.jpg 300w, https://mall.cmsmasters.net/wp-content/uploads/2015/05/Untitled-1-60x60.jpg 60w, https://mall.cmsmasters.net/wp-content/uploads/2015/05/Untitled-1-95x95.jpg 95w"
                                                         sizes="(max-width: 580px) 100vw, 580px" />
                                                    <div class="cmsmasters_img_rollover"><a href="https://mall.cmsmasters.net/project/20-sale-collection-fw2015-16/" title="-20% SALE collection f/w2015-16" class="cmsmasters_open_link"></a></div>
                                                </figure>
                                                <div class="project_inner">
                                                    <header class="cmsmasters_project_header entry-header">
                                                        <h4 class="cmsmasters_project_title entry-title"><a href="https://mall.cmsmasters.net/project/20-sale-collection-fw2015-16/">-20% SALE collection f/w2015-16</a></h4>
                                                    </header>
                                                    <footer class="cmsmasters_project_footer entry-meta">
                                                        <span class="cmsmasters_likes cmsmasters_project_likes">
                                                            <a href="#" onclick="cmsmastersLike(1596); return false;" id="cmsmastersLike-1596" class="cmsmastersLike cmsmasters_theme_icon_like"><span>18</span></a>
                                                        </span><span class="cmsmasters_comments cmsmasters_project_comments">
                                                            <a class="cmsmasters_theme_icon_comment" href="https://mall.cmsmasters.net/project/20-sale-collection-fw2015-16/#respond" title="Comment on -20% SALE collection f/w2015-16"><span>0</span></a>
                                                        </span>
                                                    </footer>
                                                </div><span class="dn meta-date">20150505130921</span>
                                            </div>
                                        </article>
                                        <!--_________________________ Finish Gallery Project _________________________ -->
                                        <!--_________________________ Start Gallery Project _________________________ -->

                                        <article id="post-1594" class="cmsmasters_project_puzzle two_x_one post-1594 project type-project status-publish format-gallery has-post-thumbnail hentry post_format-post-format-gallery pj-categs-masonry-puzzle" data-category="masonry-puzzle">
                                            <div class="project_outer">
                                                <figure class="cmsmasters_img_rollover_wrap preloader">
                                                    <img decoding="async" width="570" height="275" src="https://mall.cmsmasters.net/wp-content/uploads/2015/05/sryj1.jpg" class="full-width wp-post-image" alt="Big Sale In Shopping Mall" title="Big Sale In Shopping Mall"
                                                         srcset="https://mall.cmsmasters.net/wp-content/uploads/2015/05/sryj1.jpg 570w, https://mall.cmsmasters.net/wp-content/uploads/2015/05/sryj1-300x145.jpg 300w" sizes="(max-width: 570px) 100vw, 570px" />
                                                    <div class="cmsmasters_img_rollover"><a href="https://mall.cmsmasters.net/project/big-sale-in-shopping-mall/" title="Big Sale In Shopping Mall" class="cmsmasters_open_link"></a></div>
                                                </figure>
                                                <div class="project_inner">
                                                    <header class="cmsmasters_project_header entry-header">
                                                        <h4 class="cmsmasters_project_title entry-title"><a href="https://mall.cmsmasters.net/project/big-sale-in-shopping-mall/">Big Sale In Shopping Mall</a></h4>
                                                    </header>
                                                    <footer class="cmsmasters_project_footer entry-meta">
                                                        <span class="cmsmasters_likes cmsmasters_project_likes">
                                                            <a href="#" onclick="cmsmastersLike(1594); return false;" id="cmsmastersLike-1594" class="cmsmastersLike cmsmasters_theme_icon_like"><span>18</span></a>
                                                        </span><span class="cmsmasters_comments cmsmasters_project_comments">
                                                            <a class="cmsmasters_theme_icon_comment" href="https://mall.cmsmasters.net/project/big-sale-in-shopping-mall/#respond" title="Comment on Big Sale In Shopping Mall"><span>0</span></a>
                                                        </span>
                                                    </footer>
                                                </div><span class="dn meta-date">20150505130735</span>
                                            </div>
                                        </article>
                                        <!--_________________________ Finish Gallery Project _________________________ -->
                                        <!--_________________________ Start Gallery Project _________________________ -->

                                        <article id="post-1171" class="cmsmasters_project_puzzle two_x_two post-1171 project type-project status-publish format-gallery has-post-thumbnail hentry post_format-post-format-gallery pj-categs-masonry-puzzle" data-category="masonry-puzzle">
                                            <div class="project_outer">
                                                <figure class="cmsmasters_img_rollover_wrap preloader">
                                                    <img decoding="async" width="580" height="580" src="https://mall.cmsmasters.net/wp-content/uploads/2015/05/ththth-580x580.jpg" class="full-width wp-post-image" alt="Crazy Bowling Night" title="Crazy Bowling Night"
                                                         srcset="https://mall.cmsmasters.net/wp-content/uploads/2015/05/ththth.jpg 580w, https://mall.cmsmasters.net/wp-content/uploads/2015/05/ththth-150x150.jpg 150w, https://mall.cmsmasters.net/wp-content/uploads/2015/05/ththth-300x300.jpg 300w, https://mall.cmsmasters.net/wp-content/uploads/2015/05/ththth-60x60.jpg 60w, https://mall.cmsmasters.net/wp-content/uploads/2015/05/ththth-95x95.jpg 95w"
                                                         sizes="(max-width: 580px) 100vw, 580px" />
                                                    <div class="cmsmasters_img_rollover"><a href="https://mall.cmsmasters.net/project/crazy-bowling-night-2/" title="Crazy Bowling Night" class="cmsmasters_open_link"></a></div>
                                                </figure>
                                                <div class="project_inner">
                                                    <header class="cmsmasters_project_header entry-header">
                                                        <h4 class="cmsmasters_project_title entry-title"><a href="https://mall.cmsmasters.net/project/crazy-bowling-night-2/">Crazy Bowling Night</a></h4>
                                                    </header>
                                                    <footer class="cmsmasters_project_footer entry-meta">
                                                        <span class="cmsmasters_likes cmsmasters_project_likes">
                                                            <a href="#" onclick="cmsmastersLike(1171); return false;" id="cmsmastersLike-1171" class="cmsmastersLike cmsmasters_theme_icon_like"><span>18</span></a>
                                                        </span><span class="cmsmasters_comments cmsmasters_project_comments">
                                                            <a class="cmsmasters_theme_icon_comment" href="https://mall.cmsmasters.net/project/crazy-bowling-night-2/#respond" title="Comment on Crazy Bowling Night"><span>0</span></a>
                                                        </span>
                                                    </footer>
                                                </div><span class="dn meta-date">20150504143718</span>
                                            </div>
                                        </article>
                                        <!--_________________________ Finish Gallery Project _________________________ -->
                                        <!--_________________________ Start Gallery Project _________________________ -->

                                        <article id="post-1169" class="cmsmasters_project_puzzle one_x_one post-1169 project type-project status-publish format-gallery has-post-thumbnail hentry post_format-post-format-gallery pj-categs-masonry-puzzle" data-category="masonry-puzzle">
                                            <div class="project_outer">
                                                <figure class="cmsmasters_img_rollover_wrap preloader">
                                                    <img loading="lazy" decoding="async" width="580" height="580" src="https://mall.cmsmasters.net/wp-content/uploads/2015/05/ydk-580x580.jpg" class="full-width wp-post-image" alt="Cinema City" title="Cinema City"
                                                         srcset="https://mall.cmsmasters.net/wp-content/uploads/2015/05/ydk.jpg 580w, https://mall.cmsmasters.net/wp-content/uploads/2015/05/ydk-150x150.jpg 150w, https://mall.cmsmasters.net/wp-content/uploads/2015/05/ydk-300x300.jpg 300w, https://mall.cmsmasters.net/wp-content/uploads/2015/05/ydk-60x60.jpg 60w, https://mall.cmsmasters.net/wp-content/uploads/2015/05/ydk-95x95.jpg 95w"
                                                         sizes="(max-width: 580px) 100vw, 580px" />
                                                    <div class="cmsmasters_img_rollover"><a href="https://mall.cmsmasters.net/project/cinema-city/" title="Cinema City" class="cmsmasters_open_link"></a></div>
                                                </figure>
                                                <div class="project_inner">
                                                    <header class="cmsmasters_project_header entry-header">
                                                        <h4 class="cmsmasters_project_title entry-title"><a href="https://mall.cmsmasters.net/project/cinema-city/">Cinema City</a></h4>
                                                    </header>
                                                    <footer class="cmsmasters_project_footer entry-meta">
                                                        <span class="cmsmasters_likes cmsmasters_project_likes">
                                                            <a href="#" onclick="cmsmastersLike(1169); return false;" id="cmsmastersLike-1169" class="cmsmastersLike cmsmasters_theme_icon_like"><span>11</span></a>
                                                        </span><span class="cmsmasters_comments cmsmasters_project_comments">
                                                            <a class="cmsmasters_theme_icon_comment" href="https://mall.cmsmasters.net/project/cinema-city/#respond" title="Comment on Cinema City"><span>0</span></a>
                                                        </span>
                                                    </footer>
                                                </div><span class="dn meta-date">20150504143636</span>
                                            </div>
                                        </article>
                                        <!--_________________________ Finish Gallery Project _________________________ -->
                                        <!--_________________________ Start Gallery Project _________________________ -->

                                        <article id="post-1167" class="cmsmasters_project_puzzle one_x_one post-1167 project type-project status-publish format-gallery has-post-thumbnail hentry post_format-post-format-gallery pj-categs-masonry-puzzle" data-category="masonry-puzzle">
                                            <div class="project_outer">
                                                <figure class="cmsmasters_img_rollover_wrap preloader">
                                                    <img loading="lazy" decoding="async" width="580" height="580" src="https://mall.cmsmasters.net/wp-content/uploads/2015/05/cdfku-580x580.jpg" class="full-width wp-post-image" alt="-70% on all clothing"
                                                         title="-70% on all clothing" srcset="https://mall.cmsmasters.net/wp-content/uploads/2015/05/cdfku.jpg 580w, https://mall.cmsmasters.net/wp-content/uploads/2015/05/cdfku-150x150.jpg 150w, https://mall.cmsmasters.net/wp-content/uploads/2015/05/cdfku-300x300.jpg 300w, https://mall.cmsmasters.net/wp-content/uploads/2015/05/cdfku-60x60.jpg 60w, https://mall.cmsmasters.net/wp-content/uploads/2015/05/cdfku-95x95.jpg 95w"
                                                         sizes="(max-width: 580px) 100vw, 580px" />
                                                    <div class="cmsmasters_img_rollover"><a href="https://mall.cmsmasters.net/project/70-on-all-clothing/" title="-70% on all clothing" class="cmsmasters_open_link"></a></div>
                                                </figure>
                                                <div class="project_inner">
                                                    <header class="cmsmasters_project_header entry-header">
                                                        <h4 class="cmsmasters_project_title entry-title"><a href="https://mall.cmsmasters.net/project/70-on-all-clothing/">-70% on all clothing</a></h4>
                                                    </header>
                                                    <footer class="cmsmasters_project_footer entry-meta">
                                                        <span class="cmsmasters_likes cmsmasters_project_likes">
                                                            <a href="#" onclick="cmsmastersLike(1167); return false;" id="cmsmastersLike-1167" class="cmsmastersLike cmsmasters_theme_icon_like"><span>7</span></a>
                                                        </span><span class="cmsmasters_comments cmsmasters_project_comments">
                                                            <a class="cmsmasters_theme_icon_comment" href="https://mall.cmsmasters.net/project/70-on-all-clothing/#respond" title="Comment on -70% on all clothing"><span>0</span></a>
                                                        </span>
                                                    </footer>
                                                </div><span class="dn meta-date">20150504143428</span>
                                            </div>
                                        </article>
                                        <!--_________________________ Finish Gallery Project _________________________ -->
                                        <!--_________________________ Start Gallery Project _________________________ -->

                                        <article id="post-1164" class="cmsmasters_project_puzzle two_x_one post-1164 project type-project status-publish format-gallery has-post-thumbnail hentry post_format-post-format-gallery pj-categs-masonry-puzzle" data-category="masonry-puzzle">
                                            <div class="project_outer">
                                                <figure class="cmsmasters_img_rollover_wrap preloader">
                                                    <img loading="lazy" decoding="async" width="575" height="278" src="https://mall.cmsmasters.net/wp-content/uploads/2015/05/srtgfnj.jpg" class="full-width wp-post-image" alt="Gives Money For Your Purchases"
                                                         title="Gives Money For Your Purchases" srcset="https://mall.cmsmasters.net/wp-content/uploads/2015/05/srtgfnj.jpg 575w, https://mall.cmsmasters.net/wp-content/uploads/2015/05/srtgfnj-300x145.jpg 300w"
                                                         sizes="(max-width: 575px) 100vw, 575px" />
                                                    <div class="cmsmasters_img_rollover"><a href="https://mall.cmsmasters.net/project/gives-money-for-your-purchases/" title="Gives Money For Your Purchases" class="cmsmasters_open_link"></a></div>
                                                </figure>
                                                <div class="project_inner">
                                                    <header class="cmsmasters_project_header entry-header">
                                                        <h4 class="cmsmasters_project_title entry-title"><a href="https://mall.cmsmasters.net/project/gives-money-for-your-purchases/">Gives Money For Your Purchases</a></h4>
                                                    </header>
                                                    <footer class="cmsmasters_project_footer entry-meta">
                                                        <span class="cmsmasters_likes cmsmasters_project_likes">
                                                            <a href="#" onclick="cmsmastersLike(1164); return false;" id="cmsmastersLike-1164" class="cmsmastersLike cmsmasters_theme_icon_like"><span>11</span></a>
                                                        </span><span class="cmsmasters_comments cmsmasters_project_comments">
                                                            <a class="cmsmasters_theme_icon_comment" href="https://mall.cmsmasters.net/project/gives-money-for-your-purchases/#respond" title="Comment on Gives Money For Your Purchases"><span>0</span></a>
                                                        </span>
                                                    </footer>
                                                </div><span class="dn meta-date">20150504143349</span>
                                            </div>
                                        </article>
                                        <!--_________________________ Finish Gallery Project _________________________ -->
                                        <!--_________________________ Start Gallery Project _________________________ -->

                                        <article id="post-1158" class="cmsmasters_project_puzzle one_x_one post-1158 project type-project status-publish format-gallery has-post-thumbnail hentry post_format-post-format-gallery pj-categs-masonry-puzzle" data-category="masonry-puzzle">
                                            <div class="project_outer">
                                                <figure class="cmsmasters_img_rollover_wrap preloader">
                                                    <img loading="lazy" decoding="async" width="580" height="580" src="https://mall.cmsmasters.net/wp-content/uploads/2015/05/sjy-580x580.jpg" class="full-width wp-post-image" alt="Fun, Happiness, Emotions"
                                                         title="Fun, Happiness, Emotions" srcset="https://mall.cmsmasters.net/wp-content/uploads/2015/05/sjy.jpg 580w, https://mall.cmsmasters.net/wp-content/uploads/2015/05/sjy-150x150.jpg 150w, https://mall.cmsmasters.net/wp-content/uploads/2015/05/sjy-300x300.jpg 300w, https://mall.cmsmasters.net/wp-content/uploads/2015/05/sjy-60x60.jpg 60w, https://mall.cmsmasters.net/wp-content/uploads/2015/05/sjy-95x95.jpg 95w"
                                                         sizes="(max-width: 580px) 100vw, 580px" />
                                                    <div class="cmsmasters_img_rollover"><a href="https://mall.cmsmasters.net/project/fun-happiness-emotions/" title="Fun, Happiness, Emotions" class="cmsmasters_open_link"></a></div>
                                                </figure>
                                                <div class="project_inner">
                                                    <header class="cmsmasters_project_header entry-header">
                                                        <h4 class="cmsmasters_project_title entry-title"><a href="https://mall.cmsmasters.net/project/fun-happiness-emotions/">Fun, Happiness, Emotions</a></h4>
                                                    </header>
                                                    <footer class="cmsmasters_project_footer entry-meta">
                                                        <span class="cmsmasters_likes cmsmasters_project_likes">
                                                            <a href="#" onclick="cmsmastersLike(1158); return false;" id="cmsmastersLike-1158" class="cmsmastersLike cmsmasters_theme_icon_like"><span>11</span></a>
                                                        </span><span class="cmsmasters_comments cmsmasters_project_comments">
                                                            <a class="cmsmasters_theme_icon_comment" href="https://mall.cmsmasters.net/project/fun-happiness-emotions/#respond" title="Comment on Fun, Happiness, Emotions"><span>0</span></a>
                                                        </span>
                                                    </footer>
                                                </div><span class="dn meta-date">20150504143226</span>
                                            </div>
                                        </article>
                                        <!--_________________________ Finish Gallery Project _________________________ -->
                                        <!--_________________________ Start Gallery Project _________________________ -->

                                        <article id="post-1155" class="cmsmasters_project_puzzle one_x_one post-1155 project type-project status-publish format-gallery has-post-thumbnail hentry post_format-post-format-gallery pj-categs-masonry-puzzle" data-category="masonry-puzzle">
                                            <div class="project_outer">
                                                <figure class="cmsmasters_img_rollover_wrap preloader">
                                                    <img loading="lazy" decoding="async" width="580" height="580" src="https://mall.cmsmasters.net/wp-content/uploads/2015/05/gcuk-580x580.jpg" class="full-width wp-post-image" alt="Coffee Time"
                                                         title="Coffee Time" srcset="https://mall.cmsmasters.net/wp-content/uploads/2015/05/gcuk.jpg 580w, https://mall.cmsmasters.net/wp-content/uploads/2015/05/gcuk-150x150.jpg 150w, https://mall.cmsmasters.net/wp-content/uploads/2015/05/gcuk-300x300.jpg 300w, https://mall.cmsmasters.net/wp-content/uploads/2015/05/gcuk-60x60.jpg 60w, https://mall.cmsmasters.net/wp-content/uploads/2015/05/gcuk-95x95.jpg 95w"
                                                         sizes="(max-width: 580px) 100vw, 580px" />
                                                    <div class="cmsmasters_img_rollover"><a href="https://mall.cmsmasters.net/project/coffee-time/" title="Coffee Time" class="cmsmasters_open_link"></a></div>
                                                </figure>
                                                <div class="project_inner">
                                                    <header class="cmsmasters_project_header entry-header">
                                                        <h4 class="cmsmasters_project_title entry-title"><a href="https://mall.cmsmasters.net/project/coffee-time/">Coffee Time</a></h4>
                                                    </header>
                                                    <footer class="cmsmasters_project_footer entry-meta">
                                                        <span class="cmsmasters_likes cmsmasters_project_likes">
                                                            <a href="#" onclick="cmsmastersLike(1155); return false;" id="cmsmastersLike-1155" class="cmsmastersLike cmsmasters_theme_icon_like"><span>13</span></a>
                                                        </span><span class="cmsmasters_comments cmsmasters_project_comments">
                                                            <a class="cmsmasters_theme_icon_comment" href="https://mall.cmsmasters.net/project/coffee-time/#respond" title="Comment on Coffee Time"><span>0</span></a>
                                                        </span>
                                                    </footer>
                                                </div><span class="dn meta-date">20150504142113</span>
                                            </div>
                                        </article>
                                        <!--_________________________ Finish Gallery Project _________________________ -->

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="cl"></div>
        <div class="content_wrap fullwidth">

            <div class="middle_content entry"></div>
            <!-- _________________________ Finish Content _________________________ -->

        </div>
    </div>
</div>
<!-- _________________________ Finish Middle _________________________ -->
